<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<!-- 替换为 OpenInstall 控制台提供的关联域名 -->
		<string>applinks:YOUR_DOMAIN.openinstall.io</string>
	</array>
</dict>
</plist>
